:root{
    --backgroundcolor: rgba(26, 26, 228, 0.671);
    --subcolor: rgb(247, 231, 90);
    --linkcolor: rgb(156, 9, 9);
}

main{
    background-color: var(--backgroundcolor);
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: var(--backgroundcolor);
}

#menu::before{
    content: "≡";
}

.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigation li{
    width: 100%;
    display: block;
}

.navigation li a{
    display: block;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--header-font-color);
}

.navigation a:hover {
    text-decoration: underline double;
    color: var(--header-font-color);
}

.show li{
    display: block;
}

.navigation.show{
    list-style: initial;
}

#menu.show::before{
    content: "X";
}

h1, h2, h3{
    background-color: var(--backgroundcolor);
    color: var(--subcolor);
    margin:10px;
    font-family: 'graduate';
}

a{
    color:var(--linkcolor);
}

nav a:hover{
    margin: 20 10%;
    width: 20px;
    color: var(--subcolor);
    background-color: var(--backgroundcolor);
}

img{
    max-width: 100%;
    position: relative;
}

.hero{
    display: flex;
    justify-content: center;
}
